body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
}

.avatar {
  width: 50%; /* Adjust as needed */
  height: auto;
  border-radius: 50%;
  border: 2px solid #ddd; /* Optional: Add a border */
  padding: 5px; /* Optional: Add padding */
}

.my_ava {
  width: 5%; /* Adjust as needed */
  height: auto;
  border-radius: 50%;
  border: 2px solid #ddd; /* Optional: Add a border */
  padding: 5px; /* Optional: Add padding */
}

.friends-images {
  position: relative;
  display: flex;
  align-items: center;
}

.foot_ava {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  border: 2px solid white; /* Optional: Add a border */
  position: relative;
  margin-left: -10px; /* Adjust the overlap */
  box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Optional: Add a shadow */
}

.foot_ava:first-child {
  margin-left: 0; /* No negative margin for the first image */
}
