body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
}

.avatar {
  width: 50%; /* Adjust as needed */
  height: auto;
  border-radius: 50%;
  border: 2px solid #ddd; /* Optional: Add a border */
  padding: 5px; /* Optional: Add padding */
}

.my_ava {
  width: 5%; /* Adjust as needed */
  height: auto;
  border-radius: 50%;
  border: 2px solid #ddd; /* Optional: Add a border */
  padding: 5px; /* Optional: Add padding */
}