<header class="custom-header p-3 d-flex justify-content-between align-items-center">
    <h1 class="h4">My Website</h1>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkModeSwitch">
        <label class="custom-control-label" for="darkModeSwitch">Dark Mode</label>
    </div>
</header>