<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Register page:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/register" method="post">
          <div class="mb-3 text-start">
            <label for="user_name" class="col-form-label">User name:</label>
            <input type="text" class="form-control" name="user_name" id="user_name" required>
          </div>
          <div class="mb-3 text-start">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
          <div class="mb-3 text-start">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="password" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
